

.holdBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-600);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  user-select: none;     /* Standard */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* Old Edge/IE */
  -webkit-touch-callout: none; /* Disable touch callout */
}

.holdBtn:hover {
  background-color: var(--color-blue-700);
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #00000048;
  z-index: 1;
  transition: width 200ms ease-in-out;
}

.holdBtn:active .progressFill {
  width: 100%;
  transition: width 1s ease-in;
}

.holdBtn:active {
  animation: tiltShake 1s cubic-bezier(0.4, 0, 0.6, 1) forwards, continuousShake 0.1s ease-in-out infinite 1s;
}

.btnText,
.releaseText {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.releaseText {
  position: absolute;
  opacity: 0;
  color: #ffffff;
}

.holdBtn:active .btnText {
  animation: fadeOut 1s linear forwards;
}

.holdBtn:active .releaseText {
  animation: fadeInRelease 1s linear forwards;
}

@keyframes tiltShake {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(0.2deg);
  }
  16% {
    transform: rotate(-0.2deg);
  }
  24% {
    transform: rotate(0.3deg);
  }
  32% {
    transform: rotate(-0.3deg);
  }
  40% {
    transform: rotate(0.5deg);
  }
  48% {
    transform: rotate(-0.5deg);
  }
  56% {
    transform: rotate(0.7deg);
  }
  64% {
    transform: rotate(-0.7deg);
  }
  72% {
    transform: rotate(1deg);
  }
  78% {
    transform: rotate(-1deg);
  }
  84% {
    transform: rotate(1.5deg);
  }
  88% {
    transform: rotate(-1.5deg);
  }
  92% {
    transform: rotate(2deg);
  }
  94% {
    transform: rotate(-2deg);
  }
  96% {
    transform: rotate(2.5deg);
  }
  97% {
    transform: rotate(-2.5deg);
  }
  98% {
    transform: rotate(3deg);
  }
  99% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes continuousShake {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes fadeOut {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInRelease {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
